@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf")
    format("truetype");
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: white;
}

h1 {
  font-size: 3.12rem;
  margin: 0;
}

h2 {
  text-transform: uppercase;
}

.header {
  background-image: url("assets/media/night_sky-wide.jpg");
  background-size: cover;
  background-position: center;
  padding: 1.5rem 1.75rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.menu-button {
  background-color: #007da4;
  border: none;
  border-radius: 10px;
  padding: 9px 19px;
  color: white;
  font-weight: 600;
  font-size: 0.779rem;
  text-decoration: none;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.57rem;
  margin: 11rem 12rem 10rem auto;
}

.logo {
  width: 4rem;
}

.main {
  width: 47.48rem;
  max-width: calc(100vw - 48px);
  margin: 0 auto;
  padding: 1.2rem;
}

.main > section,
.summary {
  margin: 5rem 0;
}

.subtitle {
  font-size: 1.75rem;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5rem;
}

.video {
  width: 100%;
}

.summary {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.description {
  max-width: 24rem;
  text-align: justify;
  font-weight: 600;
}

.night-sky {
  width: 16.5rem;
  height: 19rem;
  object-fit: cover;
}

.characters {
  display: flex;
  gap: 1.7rem;
  max-width: 100%;
  overflow-x: scroll;
  padding: 0.25rem 0;
}

.card {
  width: min-content;
  padding: 1.2rem;
  border-radius: 20px;
  background: white;
  color: black;
}

.card-image {
  background: #353535;
  width: 6rem;
  padding: 3rem 5rem;
}

.character-desc {
  height: 3.7em;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
